.App-header {
  text-align: center;
}

h1 {
  display: inline-block;
}

#recipes {
  margin-top: 20px;
  text-align: center;
}

#selectedIngredients {
  margin-bottom: 20px;
}

#ingredients {
  text-align: center;
  margin-left: 10%;
  width: 80%;
}

.ingredientButton {
  width: 20%;
}