.App-header {
  text-align: center;
  background-color: lightblue;
}

h1 {
  display: inline-block;
}

.blueButtonColor {
  background-color: rgb(43, 139, 172);
  border: rgb(43, 139, 172);
}

div.dropdown.nav-item {
  visibility: hidden;
}

@media (max-width: 550px) {
  .navItemsDesktop {
    visibility: hidden;
  }


  div.dropdown.nav-item {
    visibility: visible;
  }

  div.dropdown.nav-item a {
    color: black;
  }
}