.App-header {
  text-align: center;
  background-color: lightblue;
}

h1 {
  display: inline-block;
}

#groceryImage {
  width: 60%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

#recipes {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

#selectedIngredients {
  margin-bottom: 20px;
}

#ingredients {
  text-align: center;
  margin-left: 10%;
  width: 80%;
}

.ingredientButton {
  width: 20%;
}

.recipe {
  margin-right: 2em;
}